<div class="list-group">
  <% for(let cat of categories) { %>
    <div class="list-group-item list-group-item-action">
      <a href="/categories/<%= cat.id %>">
        <h6 class="mb-1"><%= cat.name %></h6>
      </a>
      <small><%= cat.description %></small>
    </div>
    <div class="list-group-item list-group-item-action">
      <a href="/categories/<%= cat.id %>">
        <h6 class="mb-1"><%= cat.name %></h6>
      </a>
      <small><%= cat.description %></small>
    </div>
  <% } %>
</div>
