<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/autohide.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/header') %>

  <div class="container main">
      <h3 class="pageheading">My profile</h5>
      <form class="w-25" method="POST" action="/profile/">
        <input class="hidden" type="hidden" name="id" value="<%= user.id %>">
        <img class="w-100 mt-4 mb-3 form-control" src="https://cdn-icons-png.flaticon.com/512/6566/6566913.png" alt="icon">
        <div class="form-group">
          <label for="username">Name</label>
          <input class="form-control" type="text" id="username" name="name" placeholder="Name" value="<%= user.name %>">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
      </form>
      <div class="d-flex justify-content-center align-items-center">
        <div id="autoHide">
          <% if (error) { %>
          <div class="alert alert-warning" role="alert">
            <%= error %>
          </div>
          <% } %>
          <% if (success) { %>
            <div class="alert alert-success" role="alert">
              <%= success %>
            </div>
          <% } %>
        </div>
      </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
