<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/comment.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/resourceID.css" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <main>  
    <div class="container">
    <div class="containerID">
      <br></br>
      <div class="cards">
        <img class="images" src="https://www.w3schools.com/howto/img_avatar.png">
       
          <h5 class="card-title"><%= title %><button>category</button></h5>
          
          <div class="toggle">
          <p class="card-text"><%= description %></p>
          
          <br></br>
          <div class="card-body" id="feedback">
            <div class="card-title">
              <h3><%= like %></h3>
              <form action="/resources/<%= id %>/like" method="post">
                <button name="bth" value="<%= like %>">like it</button>
              </form>
              
              
            </div>
            

            <div id="feddback-rating" class="card-title">
              <h3><%= rating %>/5</h3>
              <form id="rating" method="post" action="/resources/<%= id %>/rating">
              <input type="text" name="rating" value="" placeholder="up to 5">
              <button type="submit">rate</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    
      </div>
      <div class="commentcontainer">
        <br></br>
        <div class="cards">
          <form action="/resources/<%= id %>/comments" method="post" class="field">
          <textarea id="commenttext" name="inputBody" rows="4" cols="50" placeholder="Write your comments">
          </textarea>
            <button type="submit" class="commentbutton">submit</button>
          </form>
          <br></br>
          
          <% for(let i = 0; i < comments.length; i++) { %>
            <div id="comment-body">
              <p><%= comments[i].username %> </p>
         <p><%= comments[i].comments %> </p>
            </div>
         
          

            <% } %>
          </div>
        </div>
        </div>

      </div>

  </main>
  
  
       
</body>

</html>
