<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/comment.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/resourceID.css" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  


  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <main>  
    <div class="container">
    <div class="containerID">
      <br></br>
      <div class="cards">
        <img class="images" src="https://www.w3schools.com/howto/img_avatar.png">
       
          <h5 class="card-title"><%= title %>
            <!-- this is the button to toggle the modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Category
            </button>
          
            <!-- this is the togle that will show up after the button -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="/categories" method="post">
                      <% for(let cat in name) { %>
                    <button name="name_bth" value="<%= name[cat].name %>"><%= name[cat].name %></button>
                    <% } %>
                    </form>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div></h5>
          
          
          
          
          <div class="toggle">
          <p class="card-text"><%= description %></p>
          
          <br></br>
          <div class="card-body" id="feedback">
            <div class="card-title">
              <h3><%= like %></h3>
              <form action="/resources/<%= id %>/like" method="post">
                <button name="bth" value="<%= like %>">like it</button>
              </form>
              
              
            </div>
            

            <div id="feddback-rating" class="card-title">
              <h3><%= rating %>/5</h3>
              <form id="rating" method="post" action="/resources/<%= id %>/rating">
              <input type="text" name="rating" value="" placeholder="up to 5">
              <button type="submit">rate</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    
      </div>
      <div class="commentcontainer">
        <br></br>
        <div class="cards">
          <form action="/resources/<%= id %>/comments" method="post" class="field">
            <textarea name="inputBody" id="typebox" cols="50" rows="4" placeholder="Write your comments!"></textarea>
            <button type="submit" class="commentbutton">submit</button>
          </form>
          <br></br>
          
          <% for(let i = 0; i < comments.length; i++) { %>
            <div id="comment-body">
              <p><%= comments[i].username %> </p>
         <p><%= comments[i].comments %> </p>
            </div>
         
          

            <% } %>
          </div>
        </div>
        </div>

      </div>

  </main>
  
  
       
</body>

</html>
